
# Frontend Supabase Config
VITE_SUPABASE_URL=https://kjgettxguhfpyiwmqztf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqZ2V0dHhndWhmcHlpd21xenRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ1NzAzNzEsImV4cCI6MjEwMDE0NjM3MX0.D_lxRdfzFQSQcllLe2X-ErPzaDOZUrEl7E3b2JEPmO4
